@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #212121;
  --primary: #FF6F00;
  --secondary: #E65100;
  --gradient: linear-gradient(to right, var(--primary), var(--secondary))
  --background-secondary: #e5e5e5;
  --stroke: #BF360C;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #ffffff;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff33;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
}

input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
  background-color: #fff;
  transition: all 0.3s ease;
  border: 3px solid #fff;
}

input[type="radio"]:checked {
  background-color: transparent;
}
